.question {
    max-width: 630px;
    margin-bottom: 6.063rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.305rem;

    @include screen(md) {
       font-size: 2rem;
       line-height: 2.32rem;
    }

    @include screen(lg) {
        text-align: left;
        margin: 0;
    }
}